---
import Layout from '@layouts/Layout.astro';

import Link from '@components/Link.astro';
---

<Layout>
	<h1 class="font-semibold text-xl">Extensions</h1>
	<p>Now navigate to the <Link href="/about/">about</Link> or <Link href="/projects/">projects</Link> page to see the view transition powered active navigation indicator in action!</p>
</Layout>