---
import Layout from '@layouts/Layout.astro';

import Link from '@components/Link.astro';
---

<Layout>
	<h1 class="font-semibold text-xl">View Transition Navigation Menu</h1>
	<p>This is a demo using View Transitions to transition a CSS pseudo element attached to the active navigation menu item.</p>
	<p>You'll notice that on this current (home) page, there is no active state visible in the navigation bar. Try going to the <Link href="/about/">about</Link> or <Link href="/projects/">projects</Link> page to see the navigation menu styling update.</p>
</Layout>