---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a href={`${import.meta.env.BASE_URL}${href}`} class="underline underline-offset-1 decoration-dashed decoration-1 hover:decoration-solid focus-visible:decoration-solid"><slot /></a>